.house-width-100 {
  width: 100%;
}

.house-width-82 {
  width: 82.05%;
}

.house-width-76 {
  width: 75.64%;
}

.house-width-73 {
  width: 73.08%;
}

.house-width-54 {
  width: 53.85%;
}

.house-width-47 {
  width: 47.44%;
}
